.dlh-pest-active *, .dlh-pest-active body {
  outline: #2980b9 solid 1px !important
}

.dlh-pest-active article {
  outline: #3498db solid 1px !important
}

.dlh-pest-active nav {
  outline: #0088c3 solid 1px !important
}

.dlh-pest-active aside {
  outline: #33a0ce solid 1px !important
}

.dlh-pest-active section {
  outline: #66b8da solid 1px !important
}

.dlh-pest-active header {
  outline: #99cfe7 solid 1px !important
}

.dlh-pest-active footer {
  outline: #cce7f3 solid 1px !important
}

.dlh-pest-active h1 {
  outline: #162544 solid 1px !important
}

.dlh-pest-active h2 {
  outline: #314e6e solid 1px !important
}

.dlh-pest-active h3 {
  outline: #3e5e85 solid 1px !important
}

.dlh-pest-active h4 {
  outline: #449baf solid 1px !important
}

.dlh-pest-active h5 {
  outline: #c7d1cb solid 1px !important
}

.dlh-pest-active h6 {
  outline: #4371d0 solid 1px !important
}

.dlh-pest-active main {
  outline: #2f4f90 solid 1px !important
}

.dlh-pest-active address {
  outline: #1a2c51 solid 1px !important
}

.dlh-pest-active div {
  outline: #036cdb solid 1px !important
}

.dlh-pest-active p {
  outline: #ac050b solid 1px !important
}

.dlh-pest-active hr {
  outline: #ff063f solid 1px !important
}

.dlh-pest-active pre {
  outline: #850440 solid 1px !important
}

.dlh-pest-active blockquote {
  outline: #f1b8e7 solid 1px !important
}

.dlh-pest-active ol {
  outline: #ff050c solid 1px !important
}

.dlh-pest-active li, .dlh-pest-active ul {
  outline: #d90416 solid 1px !important
}

.dlh-pest-active dl {
  outline: #fd3427 solid 1px !important
}

.dlh-pest-active dt {
  outline: #ff0043 solid 1px !important
}

.dlh-pest-active dd {
  outline: #e80174 solid 1px !important
}

.dlh-pest-active figure {
  outline: #f0b solid 1px !important
}

.dlh-pest-active figcaption {
  outline: #bf0032 solid 1px !important
}

.dlh-pest-active table {
  outline: #0c9 solid 1px !important
}

.dlh-pest-active caption {
  outline: #37ffc4 solid 1px !important
}

.dlh-pest-active thead {
  outline: #98daca solid 1px !important
}

.dlh-pest-active tbody {
  outline: #64a7a0 solid 1px !important
}

.dlh-pest-active tfoot {
  outline: #22746b solid 1px !important
}

.dlh-pest-active tr {
  outline: #86c0b2 solid 1px !important
}

.dlh-pest-active th {
  outline: #a1e7d6 solid 1px !important
}

.dlh-pest-active td {
  outline: #3f5a54 solid 1px !important
}

.dlh-pest-active col {
  outline: #6c9a8f solid 1px !important
}

.dlh-pest-active colgroup {
  outline: #6c9a9d solid 1px !important
}

.dlh-pest-active button {
  outline: #da8301 solid 1px !important
}

.dlh-pest-active datalist {
  outline: #c06000 solid 1px !important
}

.dlh-pest-active fieldset {
  outline: #d95100 solid 1px !important
}

.dlh-pest-active form {
  outline: #d23600 solid 1px !important
}

.dlh-pest-active input {
  outline: #fca600 solid 1px !important
}

.dlh-pest-active keygen {
  outline: #b31e00 solid 1px !important
}

.dlh-pest-active label {
  outline: #ee8900 solid 1px !important
}

.dlh-pest-active legend {
  outline: #de6d00 solid 1px !important
}

.dlh-pest-active meter {
  outline: #e8630c solid 1px !important
}

.dlh-pest-active optgroup {
  outline: #b33600 solid 1px !important
}

.dlh-pest-active option {
  outline: #ff8a00 solid 1px !important
}

.dlh-pest-active output {
  outline: #ff9619 solid 1px !important
}

.dlh-pest-active progress {
  outline: #e57c00 solid 1px !important
}

.dlh-pest-active select {
  outline: #e26e0f solid 1px !important
}

.dlh-pest-active textarea {
  outline: #cc5400 solid 1px !important
}

.dlh-pest-active details {
  outline: #33848f solid 1px !important
}

.dlh-pest-active summary {
  outline: #60a1a6 solid 1px !important
}

.dlh-pest-active command {
  outline: #438da1 solid 1px !important
}

.dlh-pest-active menu {
  outline: #449da6 solid 1px !important
}

.dlh-pest-active del {
  outline: #bf0000 solid 1px !important
}

.dlh-pest-active ins {
  outline: #400000 solid 1px !important
}

.dlh-pest-active svg, .dlh-pest-active img {
  outline: #22746b solid 1px !important
}

.dlh-pest-active iframe {
  outline: #64a7a0 solid 1px !important
}

.dlh-pest-active embed {
  outline: #98daca solid 1px !important
}

.dlh-pest-active object {
  outline: #0c9 solid 1px !important
}

.dlh-pest-active param {
  outline: #37ffc4 solid 1px !important
}

.dlh-pest-active video {
  outline: #6ee866 solid 1px !important
}

.dlh-pest-active audio {
  outline: #027353 solid 1px !important
}

.dlh-pest-active source {
  outline: #012426 solid 1px !important
}

.dlh-pest-active canvas {
  outline: #a2f570 solid 1px !important
}

.dlh-pest-active track {
  outline: #59a600 solid 1px !important
}

.dlh-pest-active map {
  outline: #7be500 solid 1px !important
}

.dlh-pest-active area {
  outline: #305900 solid 1px !important
}

.dlh-pest-active a {
  outline: #ff62ab solid 1px !important
}

.dlh-pest-active em {
  outline: #800b41 solid 1px !important
}

.dlh-pest-active strong {
  outline: #ff1583 solid 1px !important
}

.dlh-pest-active i {
  outline: #803156 solid 1px !important
}

.dlh-pest-active b {
  outline: #cc1169 solid 1px !important
}

.dlh-pest-active u {
  outline: #ff0430 solid 1px !important
}

.dlh-pest-active s {
  outline: #f805e3 solid 1px !important
}

.dlh-pest-active small {
  outline: #d107b2 solid 1px !important
}

.dlh-pest-active abbr {
  outline: #4a0263 solid 1px !important
}

.dlh-pest-active q {
  outline: #240018 solid 1px !important
}

.dlh-pest-active cite {
  outline: #64003c solid 1px !important
}

.dlh-pest-active dfn {
  outline: #b4005a solid 1px !important
}

.dlh-pest-active sub {
  outline: #dba0c8 solid 1px !important
}

.dlh-pest-active sup {
  outline: #cc0256 solid 1px !important
}

.dlh-pest-active time {
  outline: #d6606d solid 1px !important
}

.dlh-pest-active code {
  outline: #e04251 solid 1px !important
}

.dlh-pest-active kbd {
  outline: #5e001f solid 1px !important
}

.dlh-pest-active samp {
  outline: #9c0033 solid 1px !important
}

.dlh-pest-active var {
  outline: #d90047 solid 1px !important
}

.dlh-pest-active mark {
  outline: #ff0053 solid 1px !important
}

.dlh-pest-active bdi {
  outline: #bf3668 solid 1px !important
}

.dlh-pest-active bdo {
  outline: #6f1400 solid 1px !important
}

.dlh-pest-active ruby {
  outline: #ff7b93 solid 1px !important
}

.dlh-pest-active rt {
  outline: #ff2f54 solid 1px !important
}

.dlh-pest-active rp {
  outline: #803e49 solid 1px !important
}

.dlh-pest-active span {
  outline: #cc2643 solid 1px !important
}

.dlh-pest-active br {
  outline: #db687d solid 1px !important
}

.dlh-pest-active wbr {
  outline: #db175b solid 1px !important
}

.dlh-pest-active.dlh-highlight-node, .dlh-pest-active.dlh-highlight-node * {
  outline: none !important
}
