:root {
  --gray-dark: #252528; // #2f2f31;
  --gray-light: #ffffff; // #f2f3f7;
  --blue-dark: #0032b4;
  --blue-light: #5e86ef;
  --red-dark: #f0446e;
  --red-light: #ff9bb1;
  --yellow-dark: #ebc259;
  --yellow-light: #ffe171;
  --mint-dark: #1bc99e;
  --mint-light: #96f8bb;
  --green-dark: #4ac955;
  --green-light: #64c97a;

  --background-color: var(--gray-light);
  --font-color: var(--gray-dark);
  --border-color: var(--gray-dark);

  --font: normal normal 12px/18px Verdana Arial, sans-serif;
  --alpha: 0.333333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--gray-dark);
    --font-color: var(--gray-light);
    --border-color: var(--gray-light);
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, sans-serif;
  font-size: 75%;

  background-color: var(--background-color);
  color: var(--font-color);

  & > div {
    width: 320px;
    height: 470px;
    padding: 0;
    margin: auto;
    overflow: hidden;
  }
}

header {
  width: calc(100% - (15px * 2));
  height: calc(50px - (15px * 2));
  padding: 15px 15px;

  h1 {
    font-size: 1.25em;
  }
}

main {
  width: calc(100% - (15px * 2));
  height: calc(100% - (50px + 40px) - (10px * 2));
  padding: 10px 15px;
  overflow: hidden;
  overflow-y: auto;

  section {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid var(--border-color);

    &:last-child {
      border: 0 none;
    }
  }
}

footer {
  width: calc(100% - (15px * 2));
  height: calc(40px - (12px * 2));
  border-top: 1px solid var(--border-color);
  padding: 12px 15px 11px 15px;

  p {
    padding: 0;
    margin: auto 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0 0 0.5em 0;
  font-weight: normal;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.75em;
}

hr {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--border-color);
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted var(--font-color);

  &:hover {
    border-bottom: 1px solid var(--font-color);
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;

  &.scrollable {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
  }

  li {
    padding: 0 0 10px 0;
    margin: 10px 0;
    list-style: none;
    line-height: 1.75em;
    border-bottom: 1px solid var(--border-color);

    &:last-child {

      padding: 0;
      margin: 10px 0 0;
      border: 0 none;
    }
  }
}

form {
  padding: 0;
  margin: 0;

  & > div {
    padding: 0;
    margin: 0 0 10px 0;
  }

  label {
    padding: 0;
    margin: 0 0 10px 0;
    display: block;
    font-size: 1.125em;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    font: var(--font);
    font-size: 1em;
    width: 100%;
  }

  textarea {
    height: 187px;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  float: none;
  clear: both;
}

.title {
  font-size: 1.125em;
  font-weight: bold;
}
